*{
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
p{
    color:hsl(229, 6%, 66%);
    font-size: 15px;
}
.container{
    display: flex;
    justify-content:space-between;
    align-items: center;

}

body{
    margin:0px;
    background-color:hsl(0, 0%, 98%) ;
}
.a{
    border-top:10px solid hsl(180, 62%, 55%);
    padding:10px;
    background-color: white;
    justify-content: center;
    width:30%;
    align-items: center;
    text-align: left;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 5px;
}   
.b{
    box-shadow: 1px 1px 1px 1px gray;
    border-top:10px solid hsl(0, 78%, 62%);
    padding:10px;
    background-color: white;
    border-radius: 5px;
    text-align: left;
}
.c{
    box-shadow: 1px 1px 1px 1px gray;
    margin-top:30px;
    border-top:10px solid  hsl(34, 97%, 64%);
    padding:10px;
    background-color: white;
border-radius: 5px;
    text-align: left;
}
.d{
    box-shadow: 1px 1px 1px 1px gray;
    border-top:10px solid hsl(212, 86%, 64%);
    padding:10px;
    background-color: white;
    width:30%;
    text-align: left;
    border-radius: 5px;
}
.cont{
    padding:30px 100px;
}
.conti{
display:flex;
flex-direction: column;
width:30%;
}
header{
    width:40%;
    margin:auto;
    text-align:center;
}
.a img{
    float:right;

}
.d img{
    float:right;

}
.conti img{
    float:right;
}

@media (max-width:373px){
.a ,.d{
    width:100%;

}
.container{
    flex-wrap: wrap;
}
body{
    margin:0px;
}
.cont{
    margin:0px;
    padding:30px;
    width:100%;
}
.conti{
    width:100%;
}
header{
width:100%;
text-align:start;


}
header h1{
    font-size: 25px;
}
.ab{
    font-size: 20px;
}
.b{
    margin-top:20px;
    }

.d{
    margin-top:20px;
    }
    
}