*{
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

h1,h2{
   
    font-weight: 600;
}
p{
    color:hsl(229, 6%, 66%);
    font-size: 1em;
}
.container{
    margin-top:70px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding:30px 100px ;
}


body{
    margin:0px;
    background-color:hsl(0, 0%, 98%) ;
}
.a{
    border-top: 6px solid hsl(180, 62%, 55%);
    background-color: white;
    justify-content: center;
    width:30%;
    align-items: center;
    text-align: left;
    box-shadow: 2px 1px 5px 1px #80808014 ;
    
    border-radius: 5px;
    padding:30px;
}   
.b{
    box-shadow: 2px 1px 5px 1px #80808014 ;
    border-top:6px solid hsl(0, 78%, 62%);
    background-color: white;
    border-radius: 5px;
    text-align: left;
    padding:30px;
}
.c{
    box-shadow: 2px 1px 5px 1px #80808014 ;;
    margin-top:30px;
    border-top:6px solid  hsl(34, 97%, 64%);
    background-color: white;
border-radius: 5px;
    text-align: left;
    padding:30px;
}
.d{
    box-shadow: 2px 1px 5px 1px #80808014 ;
    border-top:6px solid hsl(212, 86%, 64%);
    background-color: white;
    width:30%;
    text-align: left;
    border-radius: 5px;
    padding:30px;
}
.ab{
font-size: 2em;
}
h2{
    margin-top:0px;
}

    
.conti{
display:flex;
flex-direction: column;
width:30%;
}
header{

    
    text-align:center;
}
.a img{
    float:right;

}
.d img{
    float:right;

}
.conti img{
    float:right;
}

@media (max-width:730px){
.a ,.d{
    width:100%;

}
.container{
    flex-wrap: wrap;
    padding:10px;
}
body{
    margin:0px;
}
.cont{
    margin:0px;
    padding:30px;
    width:100%;
}
.conti{
    width:100%;
}
header{
width:100%;
text-align:start;


}
header h1{
    font-size: 20px;
}
.ab{
    font-size: 20px;
}
.b{
    margin-top:30px;
    }

.d{
    margin-top:30px;
    }
    
}